[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[gc]
	auto = 1
[merge]
	summary = true
[alias]
	co = checkout
	ci = commit -v
	st = status
	cp = cherry-pick -x
	rb = rebase
	pr = pull --rebase
  b = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --color=always --count=20
  br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --color=always --count=20
	r = remote -v
	t = tag -l
	put = push origin HEAD
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	recommit = commit -C head --amend
	d = diff
	c = commit -v
	s = status
	dc = diff --cached
	pr = pull --rebase
	ar = add -A
	lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	l = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative -10
  tidy = "!f() { git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d; git remote prune origin; }; f"
  la = !git config -l | grep alias | cut -c 7-
  changes = log --all --first-parent --remotes --reflog --author-date-order
[push]
	default = current
  autoSetupRemote = true
[user]
	name = Gary Johnson
	email = gary@gjtt.com
[core]
	editor = vim
	excludesfile = /Users/garyjohnson/.gitignore
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[pull]
	rebase = true
